<app-navbar></app-navbar>

<div class="landing_page">
    <div class="landing_page__title_container">
        <div class="landing_page__title">Yes,</div>
        <div class="landing_page__title">We serve liquor online...</div>
        <button class="landing_page__btn">Get Some Liquor</button>
    </div>
</div>

<div class="product_cards_container">
    <div class="product_card">
        <div class="product_card__wishlist" matTooltip="Add to wishlist">
            <span class="material-icons">favorite</span>
        </div>
        <div class="product_card__image"></div>
        <div class="product_card__desc">
            <div class="product_card__title">Budweiser</div>
            <div class="product_card__info">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, vel.
            </div>
            <div class="product_card__price">
                <span class="product_card__price_text">Rs. </span>
                <span class="product_card__price_info">550/-</span>
            </div>
            <button class="product_card__btn">
                <span class="material-icons" style="margin-right: .5rem">local_grocery_store</span>
                <span>Buy</span>
            </button>
        </div>
    </div>
</div>