<nav class="custom_navbar">
    <div class="custom_navbar__logo" routerLink="/">
        Olcoholic
    </div>

    <ul class="custom_navbar__list">
        <li class="custom_navbar__list_item">
            Services
        </li>
        <li class="custom_navbar__list_item">About</li>
        <li class="custom_navbar__list_item">Contact</li>
        <li class="custom_navbar__list_item" *ngIf="!isLoggedin">
            <div>
                <button class="custom_navbar__list_item_btn" routerLink="/login">Login</button>
                <button class="custom_navbar__list_item_btn" routerLink="/register">Register</button>
            </div>
        </li>
        <li class="custom_navbar__list_item" *ngIf="isLoggedin">
            <div class="custom_navbar__profile">
                <div class="custom_navbar__profile_icon">
                    {{username.charAt(0) | uppercase}}
                </div>
                <div class="custom_navbar__profile_name">{{username}}</div>
                <div class="custom_navbar__profile_menu">
                    <div class="custom_navbar__profile_menu_items" routerLink="/recent-shopping"
                        routerLinkActive="link-active">
                        <span class="material-icons custom_navbar__profile_menu_items-icon">check_circle</span>
                        <span class="custom_navbar__profile_menu_items_text">Recent Shopping</span>
                    </div>
                    <div class="custom_navbar__profile_menu_items" routerLink="/favorites"
                        routerLinkActive="link-active">
                        <span class="material-icons custom_navbar__profile_menu_items-icon">favorite</span>
                        <span class="custom_navbar__profile_menu_items_text">Favorites</span>
                    </div>
                    <div class="custom_navbar__profile_menu_items" routerLink="/my-basket"
                        routerLinkActive="link-active">
                        <span class="material-icons custom_navbar__profile_menu_items-icon">shopping_basket</span>
                        <span class="custom_navbar__profile_menu_items_text">My Basket</span>
                    </div>

                    <div class="custom_navbar__profile_menu_items">
                        <span class="material-icons custom_navbar__profile_menu_items-icon">edit</span>
                        <span class="custom_navbar__profile_menu_items_text">Edit Profile</span>
                    </div>

                    <div class="custom_navbar__profile_menu_items" (click)="logOut()">
                        <span class="material-icons custom_navbar__profile_menu_items-icon">power_settings_new</span>
                        <span class="custom_navbar__profile_menu_items_text">Log out</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="custom_navbar__hamburger" (click)="toggleNavbar()">
        <div class="custom_navbar__hamburger_line1"></div>
        <div class="custom_navbar__hamburger_line2"></div>
        <div class="custom_navbar__hamburger_line3"></div>
    </div>
</nav>