<div class="loginBox__bg">

    <div class="loginBox">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="loginBox_img">
                    <img src="../../assets/olcoholic_images/register.png" alt="" style="width: 100%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="loginBox__form">
                    <div class="loginBox__form_title">Olcoholic</div>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control loginBox__form_cusomInput">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control loginBox__form_cusomInput">
                        </div>

                        <div class="text-right">
                            <button class="loginBox__form_btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>