<app-navbar></app-navbar>
<div class="buy_product_section">
    <div class="product">
        <form [formGroup]="buyProduct">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="product_image_container">
                        <img class="product__image" src="../../assets/olcoholic_images/budweiser1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="product__name">{{productName}}</div>
                    <div>{{productDesc}}</div>
                    <div class="product__price">
                        <span class="product__price_text">Rs. </span>
                        <span class="product__price_info">{{productPrice}} </span>
                        <span class="product__price_text">/-</span>
                    </div>
                    <div class="product__form">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput formControlName="name">
                                    <mat-error>Please enter Name</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput formControlName="email">
                                    <mat-error>Please enter Email</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="product__form_header">Address</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Flat/ House No.</mat-label>
                                    <input type="text" matInput formControlName="flat_no">
                                    <mat-error>Please enter Flat No.</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Apartment/ Building</mat-label>
                                    <input type="text" matInput formControlName="apartment">
                                    <mat-error>Please enter Apartment Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Area/ Street/ Sector</mat-label>
                                    <input type="text" matInput formControlName="area">
                                    <mat-error>Please enter Area Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Landmark</mat-label>
                                    <input type="text" matInput formControlName="landmark"
                                        placeholder="eg. Near a hotel">
                                    <mat-error>Please enter Landmark</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input type="text" matInput formControlName="city">
                                    <mat-error>Please enter City Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input type="text" matInput formControlName="state">
                                    <mat-error>Please enter State Name</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Zip</mat-label>
                                    <input type="text" matInput formControlName="zip">
                                    <mat-error>Please enter Zip Code</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <label class="product__form_label">Quantity</label>
                        <div class="product__form_quantity">
                            <div class="product__form_quantity_icons" (click)="changeCount('-')">
                                <span class="material-icons product__form_quantity_icons-down">arrow_left</span>
                            </div>
                            <input type="text" class="form-control product__form_quantity_input"
                                formControlName="product_quantity" [value]="quantity">
                            <div class="product__form_quantity_icons" (click)="changeCount('+')">
                                <span class="material-icons product__form_quantity_icons-up">arrow_left</span>
                            </div>
                        </div>

                        <div class="product__form_price">
                            <span class="product__form_price_text">Price per Unit: </span>
                            <span class="product__form_price_currency">Rs. </span>
                            <span class="product__form_price_info">{{productPrice}} </span>
                            <span class="product__form_price_text">/-</span>
                        </div>

                        <div class="product__form_price">
                            <span class="product__form_price_text">Total Price: </span>
                            <span class="product__form_price_currency">Rs. </span>
                            <span class="product__form_price_info-total">{{totalPrice}} </span>
                            <span class="product__form_price_text">/-</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="product__transaction">
                <div class="product__transaction_header">Transaction</div>
                <div>
                    <mat-radio-button checked value="credit_card" (change)="selectPaymentMethod('credit_card', $event)">
                        Credit/
                        Debit Card</mat-radio-button>

                    <div class="product__transaction_details" *ngIf="onlinePaymentSection">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name on Card</mat-label>
                                    <input type="text" matInput formControlName="name_on_card">
                                    <mat-error>Please enter name as per on your card</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Card Number</mat-label>
                                    <input type="text" matInput formControlName="card_number">
                                    <mat-error>Please enter Card Number</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Expiration Date</mat-label>
                                    <input matInput [matDatepicker]="expiry_date" formControlName="expiry_date">
                                    <mat-datepicker-toggle matSuffix [for]="expiry_date"></mat-datepicker-toggle>
                                    <mat-datepicker #expiry_date></mat-datepicker>
                                    <mat-error>Please select Date</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>CVV</mat-label>
                                    <input type="text" matInput formControlName="cvv">
                                    <mat-error>Please enter CVV code</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <mat-radio-button value="cod" (change)="selectPaymentMethod('cod', $event)">Cash on Delivery
                    </mat-radio-button>
                </div>
            </div>
            <div class="product__btn_container">
                <button class="product__btn" (click)="order()">Order</button>
            </div>
        </form>

        <div class="product__review">
            <div class="product__review_header">Customer reviews</div>
            <div class="product__review_container">
                <div class="product__review_null" *ngIf="reviews.length === 0">
                    No reviews yet. Be the first reviewer
                </div>
                <div class="row" *ngIf="reviews.length !== 0">
                    <div data-aos="fade-up" class="col-lg-6 col-md-6 col-12"
                        *ngFor="let review of reviews | slice: 0 : 4">
                        <div class="product__review_box">
                            <div class="product__review_box_text">
                                {{review.description}}
                            </div>
                            <div class="product__review_box_subtext">
                                - {{review.full_name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="reviews.length > 4">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <button class="product__review_btn">View More Reviews</button>
                </div>
            </div>
        </div>

        <div class="product__review_add">
            <div class="product__review_add_header">Your review matters</div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <form [formGroup]="reviewForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Add your opinion</mat-label>
                            <textarea matInput formControlName="review"></textarea>
                            <mat-error>Please add your opinion</mat-error>
                        </mat-form-field>
                        <button class="product__review_add_btn" (click)="postReview()">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>