<div id="sidebar" class="sidebar">
    <div class="sidebar__toggle">
        <span class="material-icons sidebar__toggle_icon" (click)="toggleSidebar('open')"
            *ngIf="!sidebarListItems">arrow_forward</span>
        <span class="material-icons sidebar__toggle_icon" (click)="toggleSidebar('close')"
            *ngIf="sidebarListItems">close</span>
    </div>
    <div class="sidebar__profile" *ngIf="isLoggedin">
        <div class="sidebar__profile_logo">
            {{username.charAt(0) | uppercase}}
        </div>
        <div class="sidebar__profile_name" *ngIf="sidebarListItems">
            <span matTooltip="{{username}}">{{username.substring(0, 6)}}</span>
            <span *ngIf="username.length > 6">..</span>
            <span class="material-icons sidebar__profile_icon" matTooltip="Edit Profile">edit</span>
        </div>
    </div>

    <div class="sidebar_list">
        <div class="sidebar_list_item" routerLink="/products">
            <i class="fas fa-beer sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Beer</span>
        </div>

        <div class="sidebar_list_item" routerLink="/products">
            <span class="material-icons">wine_bar</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Wine</span>
        </div>

        <div class="sidebar_list_item" routerLink="/products">
            <i class="fas fa-wine-bottle sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Vodka</span>
        </div>

        <div class="sidebar_list_item" routerLink="/products">
            <i class="fas fa-glass-whiskey sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Whiskey</span>
        </div>

        <div class="sidebar_list_item" routerLink="/products">
            <i class="fas fa-cocktail sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Rum</span>
        </div>

        <div class="sidebar_list_item" *ngIf="isLoggedin" routerLink="/recent-shopping" routerLinkActive="link-active">
            <span class="material-icons">check_circle</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Recent Shopping</span>
        </div>

        <div class="sidebar_list_item" *ngIf="isLoggedin" routerLink="/favorites" routerLinkActive="link-active">
            <span class="material-icons">favorite</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Favorites</span>
        </div>

        <div class="sidebar_list_item" *ngIf="isLoggedin" routerLink="/my-basket" routerLinkActive="link-active">
            <div class="sidebar_list_item_badge" *ngIf="basketLength > 0">
                <div class="sidebar_list_item_badge-text">{{basketLength}}</div>
            </div>
            <span class="material-icons">shopping_basket</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">My Basket</span>
        </div>

        <div class="sidebar_list_item" *ngIf="isLoggedin" routerLink="/my-profile" routerLinkActive="link-active">
            <span class="material-icons">person</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">My Profile</span>
        </div>

        <div class="sidebar_list_item" *ngIf="isLoggedin" (click)="logOut()">
            <span class="material-icons">power_settings_new</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Log out</span>
        </div>
    </div>
</div>