@mixin for_size($size) {
  @if $size == phone {
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  }
  @if $size == ipad {
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      @content;
    }
  }
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: #fff;
  box-shadow: 1px 3px 5px #cecece;
  color: #c70039;
  z-index: 3;
  transition: all 0.4s linear;

  @include for_size(phone) {
    display: none;
  }

  &__toggle {
    padding: 8px 22px 0;

    &_icon {
      font-size: 30px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    padding: 8px 14px 0;

    &_logo {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      box-shadow: 1px 3px 8px #cecece;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &_name {
      margin-left: 0.5rem;
      font-size: 20px;
      display: flex;
      align-items: center;
    }

    &_icon {
      @extend .sidebar__toggle_icon;
      font-size: 16px;
      margin-left: 8px;
    }
  }

  &_list {
    margin-top: 8px;
    padding: 8px;

    &_item {
      position: relative;
      padding: 8px 0 8px 15px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #f7f7f7;

      &:last-child {
        position: absolute;
        bottom: 0px;
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        background: #f7f7f7;
        // background: linear-gradient(
        //   297deg,
        //   rgba(255, 199, 215, 1) 38%,
        //   rgba(255, 160, 171, 1) 100%
        // );
      }

      &_text {
        font-size: 16px;
        margin-left: 8px;
      }

      &-icon {
        font-size: 24px;
      }

      &_badge {
        position: absolute;
        top: 4px;
        right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background-color: #c70039;
        box-shadow: 1px 3px 8px #cecece;

        &-text {
          color: #fff;
          font-weight: bold;
          font-size: 11px;
        }
      }
    }
  }
}

.toggleSidebar {
  width: 200px;
}

.link-active {
  background: rgb(255, 199, 215);
  background: linear-gradient(
    297deg,
    rgba(255, 199, 215, 1) 38%,
    rgba(255, 160, 171, 1) 100%
  );
}
