<footer class="footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="footer__title">Olcoholic</div>
            <div class="footer__content">
                <strong>Olcoholic</strong> is a Mumbai, India based emerging brand in wine and alcohol industry, to make
                them available
                online for our <strong>not so sober</strong> customers.
            </div>
            <div class="footer__links">
                <span class="material-icons footer__links-icon">mail_outline</span>
                <span class="footer__links_text">
                    <a href="mailto:suyash.muluk04@gmail.com">
                        customercare@olcoholic.in
                    </a>
                </span>
            </div>
            <div class="footer__links">
                <span class="material-icons footer__links-icon">call</span>
                <span class="footer__links_text">
                    <a href="tel:+7738765774">
                        7738765774
                    </a>
                </span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="footer__subtitle">Site Map</div>
            <div class="footer__link_list">
                <div class="footer__link_list_item">
                    <span class="material-icons footer__link_list_item-icon">arrow_forward</span>
                    <span class="footer__link_list_item_text">Services</span>
                </div>
                <div class="footer__link_list_item">
                    <span class="material-icons footer__link_list_item-icon">arrow_forward</span>
                    <span class="footer__link_list_item_text">Blogs</span>
                </div>
                <div class="footer__link_list_item">
                    <span class="material-icons footer__link_list_item-icon">arrow_forward</span>
                    <span class="footer__link_list_item_text">About</span>
                </div>
                <div class="footer__link_list_item" routerLink="/contact">
                    <span class="material-icons footer__link_list_item-icon">arrow_forward</span>
                    <span class="footer__link_list_item_text">Contact</span>
                </div>
                <div class="footer__link_list_item">
                    <span class="material-icons footer__link_list_item-icon">arrow_forward</span>
                    <span class="footer__link_list_item_text">Terms and Conditions</span>
                </div>
                <div class="footer__link_list_item">
                    <span class="material-icons footer__link_list_item-icon">arrow_forward</span>
                    <span class="footer__link_list_item_text">Privacy Policy</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="footer__subtitle">
                Follow Us
            </div>
        </div>
    </div>
</footer>

<div class="footer__company">
    <span class="footer__company_text">Made with </span>
    <span class="material-icons footer__company_icon">favorite</span>
    <span class="footer__company_text"> by </span>
    <span class="footer__company_info">
        <a href="#" target="blank">Frontliners.com</a>
    </span>
</div>