@mixin for_size($size) {
  @if $size == phone {
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  }
  @if $size == ipad {
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      @content;
    }
  }
}

.footer {
  background: linear-gradient(
    300deg,
    rgba(46, 139, 87, 1) 0%,
    rgba(22, 65, 41, 1) 90%
  );
  box-shadow: 1px -1px 10px #cecece;
  color: #fff;
  padding: 1rem 5rem;

  @include for_size(ipad) {
    padding: 1rem 2rem;
  }

  @include for_size(phone) {
    padding: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 2rem;
    display: inline-flex;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 4px;
      background-color: #fff;
    }
  }

  &__content {
    text-align: justify;
    font-size: 18px;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-top: 16px;

    &_text a {
      color: #fff;
      margin-left: 4px;
    }
  }

  &__link_list {
    &_item {
      margin-top: 8px;
      display: flex;
      align-items: center;

      &-icon {
        font-size: 20px;
      }

      &_text {
        font-size: 18px;
        margin-left: 4px;

        &:hover {
          cursor: pointer;
          color: #eae5e5;
        }
      }
    }
  }

  &__company {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    background-color: #2b8e57;

    &_icon {
      font-size: 20px;
      color: orangered;
    }

    &_text {
      font-size: 13px;
      color: #fff;
      margin: 0 4px;
    }

    &_info a {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
  }
}
