<app-navbar></app-navbar>
<div id="sidebar" class="sidebar">
    <div class="sidebar__toggle">
        <span class="material-icons sidebar__toggle_icon" (click)="toggleSidebar('open')"
            *ngIf="!sidebarListItems">arrow_forward</span>
        <span class="material-icons sidebar__toggle_icon" (click)="toggleSidebar('close')"
            *ngIf="sidebarListItems">close</span>
    </div>
    <div class="sidebar__profile">
        <div class="sidebar__profile_icon">
            {{username.charAt(0) | uppercase}}
        </div>
        <div class="sidebar__profile_name" *ngIf="sidebarListItems">
            {{username}}
        </div>
    </div>

    <div class="sidebar_list">
        <div class="sidebar_list_item">
            <i class="fas fa-beer sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Beer</span>
        </div>

        <div class="sidebar_list_item">
            <span class="material-icons sidebar_list_item-icon">wine_bar</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Wine</span>
        </div>

        <div class="sidebar_list_item">
            <i class="fas fa-wine-bottle sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Vodka</span>
        </div>

        <div class="sidebar_list_item">
            <i class="fas fa-glass-whiskey sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Whiskey</span>
        </div>

        <div class="sidebar_list_item">
            <i class="fas fa-cocktail sidebar_list_item-icon"></i>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Rum</span>
        </div>

        <div class="sidebar_list_item">
            <span class="material-icons sidebar_list_item-icon">favorite</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Favorites</span>
        </div>

        <div class="sidebar_list_item">
            <span class="material-icons sidebar_list_item-icon">local_grocery_store</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">My Cart</span>
        </div>

        <div class="sidebar_list_item">
            <span class="material-icons sidebar_list_item-icon">power_settings_new</span>
            <span class="sidebar_list_item_text" *ngIf="sidebarListItems">Log out</span>
        </div>
    </div>
</div>

<div class="product_section">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="filter_box">
                <span class="filter_box_text">Filter</span>
                <span class="material-icons filter_box-icon">filter_alt</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="search_bar">
                <form>
                    <div class="form-group">
                        <input style="width: 60%; margin-left: auto" class="form-control" type="search"
                            placeholder="Search your product">
                        <span class="material-icons search_bar-icon">search</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="product_cards_container">
        <div class="product_card" *ngFor="let product of products">
            <div class="product_card__wishlist">
                <span class="material-icons product_card__wishlist-icon">favorite</span>
            </div>
            <div class="product_card__share">
                <span class="material-icons product_card__share-icon">share</span>
            </div>
            <div class="product_card__image"></div>
            <div class="product_card__desc">
                <div class="product_card__title">{{product.name}}</div>
                <div class="product_card__info">
                    {{product.description}}
                </div>
                <div class="product_card__price">
                    <span class="product_card__price_text">Rs. </span>
                    <span class="product_card__price_info">{{product.price}}</span>
                    <span>/-</span>
                </div>
                <div class="text-center">
                    <button class="product_card__btn">
                        <span>Buy</span>
                    </button>
                </div>
                <div class="product_card__link">
                    <span class="material-icons" style="margin-right: .5rem">local_grocery_store</span>
                    <span class="product_card__link_text">Add to Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>