<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="product_section">
    <div class="row" style="align-items: baseline;" *ngIf="products.length > 1">
        <div class="col-lg-6 col-md-6 col-3">
            <div class="filter_box">
                <span class="filter_box_text">Filter</span>
                <span class="material-icons filter_box-icon">filter_alt</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-9">
            <div class="search_bar">
                <form>
                    <!-- <mat-form-field class="search_bar_input" appearance="outline">
                        <input type="text" matInput placeholder="Search your product" [(ngModel)]="productSearch"
                            [ngModelOptions]="{standalone: true}">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field> -->

                    <div class="form-group" style="position: relative">
                        <input class="form-control search_bar_input" type="text" [(ngModel)]="productSearch"
                            [ngModelOptions]="{standalone: true}" placeholder="Search your product">
                        <span class="material-icons search_bar-icon">search</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="product_cards_container" *ngIf="products.length >= 1">
        <div class="product_card" *ngFor="let product of products | filter: productSearch">
            <div class="product_card__wishlist" matTooltip="Add to Wishlist">
                <span class="material-icons product_card__wishlist-icon">favorite</span>
            </div>
            <div class="product_card__share">
                <span class="material-icons product_card__share-icon">share</span>
            </div>
            <div class="product_card__image"></div>
            <div class="product_card__desc">
                <div class="product_card__title">{{product.name}}</div>
                <div class="product_card__info">
                    {{product.description}}
                </div>
                <div class="product_card__price">
                    <span class="product_card__price_text">Rs. </span>
                    <span class="product_card__price_info">{{product.price}}</span>
                    <span>/-</span>
                </div>
                <div class="text-center">
                    <button class="product_card__btn" (click)="buy(product)">
                        <span>Order Now</span>
                    </button>
                </div>
                <div class="product_card__link" (click)="addToBasket(product)">
                    <span class="material-icons" style="margin-right: .5rem">shopping_basket</span>
                    <span class="product_card__link_text">Add to Basket</span>
                </div>
            </div>
        </div>
    </div>
    <div class="not_found_section" *ngIf="products.length < 1">
        <div class="not_found_section_img"></div>
        <div class="not_found_section_text">No Product Found</div>
    </div>

</div>