@mixin for_size($size) {
  @if $size == phone {
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  }
  @if $size == ipad {
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      @content;
    }
  }
}

.empty_cart_section {
  padding: 100px 0 0 80px;

  @include for_size(phone) {
    padding: 100px 0 0 20px;
  }

  &_img {
    background-image: url("../../assets/olcoholic_images/empty-cart.jpg");
    height: 55vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &_text {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__btn {
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 5px;
    background-color: #c70039;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 20px;
    margin: 1rem auto;
    box-shadow: 0px 0px 3px #c70039;
    transition: all 0.3s ease-in;

    &-icon {
      margin-left: 4px;
      font-weight: bold;
      transition: all 0.3s ease-in;
    }

    &:hover {
      background-color: #b30033;
      box-shadow: 0px 0px 5px #c70039;

      .empty_cart_section__btn-icon {
        transform: translateX(8px);
      }
    }

    &:focus {
      outline: none;
    }
  }
}
