@mixin for_size($size) {
  @if $size == phone {
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  }
  @if $size == ipad {
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      @content;
    }
  }
}

.register__box {
  background-color: #fff;
  padding: 32px 0;
  width: 55%;
  border-radius: 4px;
  box-shadow: 1px 3px 8px #cecece;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include for_size(ipad) {
    width: 70%;
  }

  @include for_size(phone) {
    box-shadow: none;
    width: 90%;
  }

  &_illustration_container {
    @include for_size(phone) {
      display: none;
    }
  }

  &_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .register__box_form_section {
    padding: 0 20px;
  }

  &_logo {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
  }

  &_title {
    text-align: center;
    font-size: 1.5rem;
  }

  &_subtitle {
    font-size: 18px;
    text-align: center;
  }

  &_steps_container {
    margin-top: 8px;
    display: flex;
  }

  &_step {
    text-align: center;

    &_number {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      background-color: #f1f1f1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      box-shadow: 1px 3px 8px #cecece;
      transition: all 0.3s ease-in;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 30px;
        width: 0px;
        height: 3px;
        background-color: forestgreen;
        transition: all 0.3s ease-in;
      }
    }

    .register__box_step_last {
      &:after {
        display: none;
      }
    }

    &_title {
      line-height: 20px;
      margin-top: 4px;
    }
  }

  &_form {
    margin-top: 1rem;
    overflow-x: hidden;

    &_label {
      font-weight: bold;
    }

    &_eye {
      position: absolute;
      bottom: 10px;
      right: 5px;
    }

    &_error {
      font-size: 13px;
      color: #e74c3c;
      font-weight: bold;
    }

    &_hint {
      font-size: 13px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    &_btn_container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .back_section {
        display: flex;
        align-items: center;

        &-icon {
          transform: translateX(0);
          transition: all 0.3s ease-in;
        }

        &_text {
          margin-left: 4px;
        }

        &:hover {
          cursor: pointer;

          .back_section-icon {
            transform: translateX(-4px);
          }
        }
      }
    }

    &_btn {
      border: 0;
      border-radius: 5px;
      background-color: #c70039;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      padding: 4px 24px;
      box-shadow: 1px 1px 3px #a2a2a2;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: #b30033;
        box-shadow: 1px 1px 3px #a2a2a2;
      }
    }
  }

  &_link {
    text-align: center;
    margin-top: 8px;

    &_text {
      font-size: 15px;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.stepActive {
  background-color: limegreen;
  color: #fff;
}

.step_after_success {
  color: #fff;
  background-color: forestgreen;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 30px;
    width: 100px;
    height: 3px;
    background-color: forestgreen;
    transition: all 0.3s ease-in;
  }
}
